<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link mx-2 active" aria-current="page" href="#">BBC UBP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" routerLink="/listbills">Bills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" routerLink="/transactions">Transactions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 btn rounded-0 btn-danger" href="#">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="text-center p-3 d-none d-md-block">

</div>