<app-header></app-header>

<div class="content">
    <div class="container">
        <h2 class="mb-5">Transactions </h2>
        <div class="table-responsive custom-table-responsive">
            <table class="table custom-table">
                <thead>
                    <tr>
                        <th scope="col">
                            <label class="control control--checkbox">
                                <input type="checkbox" class="js-check-all" />
                                <div class="control__indicator"></div>
                            </label>
                        </th>
                        <th scope="col">Customer Id</th>
                        <th scope="col">Bill Id</th>
                        <th scope="col">Transaction Date</th>
                        <th scope="col">Payment Method</th>
                        <th scope="col">Status</th>
                        <th scope="col">Invoice</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaction of transactions" scope="row">
                        <th scope="row">
                            <label class="control control--checkbox">
                                <input type="radio" name="select" />
                                <div class="control__indicator"></div>
                            </label>
                        </th>
                        <td>
                            {{transaction.custonerId}}
                        </td>
                        <td>{{transaction.billId}}</td>
                        <td>
                            {{transaction.transactionDate}}
                        </td>
                        <td>{{transaction.paymentMethod}}</td>

                        <td>
                            <span ngClass="{
                                'badge badge-success':transaction.transactionStatus==='success'
                                'badge badge-danger':transaction.transactionStatus==='failiure'  
                            }">{{transaction.transactionStatus}}</span>

                        </td>
                        <td><button type="button" class="btn-sm btn-success">Pay Bill</button></td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>

</div>